
<br>

<center>
	<table>
		<tr>
			<!--<td><button class="btn btn-primary" ng-click="changeQuestion(-1)"><span class="glyphicon glyphicon-chevron-left"></span></button></td>-->
			<td><h4>{{curNum + " / " + questionCount}}</h4></td>
			<!--<td><button class="btn btn-primary" ng-click="changeQuestion(1)"><span class="glyphicon glyphicon-chevron-right"></button></td>-->
		</tr>
	</table>	
</center>

<br>

<!--Text question-->
<div class="well" ng-show="curType == 1">
	<p>teksti kysymys:</p>
	<h4>{{ curNum + ". " + curQuestion }}</h4>
	
	<br>
	
	<textarea class="form-control" rows="5" ng-model="textAnswer"></textarea>
	
	<br>
	
	<table style="width:100%;">
		<tr>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(textAnswer, -1)">Edellinen</button></td>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(textAnswer, 1)">Seuraava</button></td>
		</tr>
	</table>

</div>

<!--Numeric question-->
<div class="well" ng-show="curType == 2">
	<p>numeerinen kysymys:</p>
	<h4>{{ curNum + ". " + curQuestion }}</h4>
	
	<br>
	
	<input type="number" class="form-control" ng-model="numAnswer"></input>
	
	<br>
	
	<table style="width:100%;">
		<tr>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(numAnswer, -1)">Edellinen</button></td>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(numAnswer, 1)">Seuraava</button></td>
		</tr>
	</table>

</div>

<!--<p>Boolean question:</p>-->
<div class="well" ng-show="curType == 3">
	<h4>{{ curNum + ". " + curQuestion }}</h4>
	
	<br>
	
	<form>
	  <label><input type="radio" ng-model="boolAnswer" value="1"> Kyllä</label><br>
	  <label><input type="radio" ng-model="boolAnswer" value="0"> Ei</label><br>
	</form>
	
	<br>
	
	<table style="width:100%;">
		<tr>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(boolAnswer, -1)">Edellinen</button></td>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(boolAnswer, 1)">Seuraava</button></td>
		</tr>
	</table>

</div>

<!--<p>Choice question:</p>-->
<div class="well" ng-show="curType == 100">
	<h4>{{ curNum + ". " + curQuestion }}</h4>
	
	<div ng-repeat="choice in choices">
		<input type="radio" name="radioChoice" ng-model="$parent.radioChoice" value="{{choice.num}}"> {{choice.name}}
    </div>
	
	<br>
	
	<table style="width:100%;">
		<tr>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(radioChoice, -1)">Edellinen</button></td>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(radioChoice, 1)">Seuraava</button></td>
		</tr>
	</table>
	
</div>

<!--<p>Multiple choice question:</p>-->
<div class="well" ng-show="curType == 101">
	<h4>{{ curNum + ". " + curQuestion }}</h4>
	
	<br>

    <div ng-repeat="(choice,enabled) in choices">
		<input type="checkbox" ng-model="choices[choice]"> {{choice}}
    </div>
	
	<br>
	
	<table style="width:100%;">
		<tr>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(choices, -1)">Edellinen</button></td>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(choices, 1)">Seuraava</button></td>
		</tr>
	</table>
	
</div>

<!--<p>Matrix question:</p>-->
<div class="well" ng-show="curType == 201">
	<h4>{{ curNum + ". " + curQuestion }}</h4>
	
	<center><h4>{{matrix.header}}</h4></center>
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<td></td>
				<th ng-repeat="column in matrix.columns">{{column.title}}</th>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="row in matrix.rows">
				<th>{{row.title}}</th>
				<td ng-repeat="column in matrix.columns"><input style="width:100%;" type="{{inputTypes[column.type]}}" ng-model="matrixAnswer[row.num][column.num]"></td>
			</tr>
		</tbody>
	</table>

	<br>
	
	<table style="width:100%;">
		<tr>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(matrixAnswer, -1)">Edellinen</button></td>
			<td><button class="btn btn-block btn-primary" ng-click="sendAnswer(matrixAnswer, 1)">Seuraava</button></td>
		</tr>
	</table>
</div>

<br>
<p>choises: {{choices}}</p>
<!--
<p>curNum: {{curNum}}</p>
<p>curInd: {{curInd}}</p>
<p>Q: {{curQuestion}}</p>
<p>type: {{curType}}</p>
<p>A: {{answer}}</p>
<p>R: {{radioChoice}}</p>
<p>choises: {{choices}}</p>
<p>matrix: {{matrix}}</p>
<p>MA: {{matrixAnswer}}</p>
-->